name: Deploy Static Site

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Bước này cực kỳ quan trọng để bỏ qua Jekyll
      - name: Setup Pages
        uses: actions/configure-pages@v5
        with:
          enable_jekyll: false 

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.' # Thư mục chứa file index.html của bạn

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
